* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#accountSwitcher {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#currentAccount {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd;
    background-size: cover;
}

#accountList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
}

#accountList li {
    padding: 10px;
    cursor: pointer;
}