* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.u-visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    left: -1000000px;
}
nav {
    background: linear-gradient(to bottom , #F1C50F , #ca49b3);
}
nav .container {
    margin: 0 auto;
    max-width: 1400px;
}

nav .container .nav-content {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 88px 68px;
    margin-bottom: 24px;
    gap: 30px;

}

nav .container .nav-content h1 {

    color: #fff;
    font-size: 60px;
    text-align: center;
    font-family: 'Agbalumo', sans-serif;
    max-width: 800px;
    line-height: 1.1;
    word-spacing: 7px;
}


nav .container .nav-content .mail {
    display: flex;

}

nav .container .nav-content .mail input{
        border: 0;
        outline: 0;
        padding: 10px 68px 10px 10px;
        font-size: 16px;
        
}
nav .container .nav-content .mail input::placeholder{
        font-size: 16px;
        color: #c2c2c2;
}
nav .container .nav-content .mail a {
        border: 0;
        outline: 0;
        padding: 12px 40px;
        background-color: #F1C50F;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        transition: background-color 200ms ease-in;
}
nav .container .nav-content .mail a:hover {
        background-color: #d9b10e;
}


