* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: 0;
    border: 0;
}

.img {
    max-width: 100%;
    height: auto;
}


.u-visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    left: -1000000px;
}

body {
    font-family: sans-serif;
}

header {
    background: linear-gradient(to bottom, #F1C50F, #ca49b3);
    padding: 64px 24px;

}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

header .container #header-content {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;

}

header .container #header-content h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: 'Agbalumo', sans-serif;
    font-weight: 800;
    line-height: 1.2;
}


header .container #header-content div {
    display: flex;
}

header .container #header-content input {
    padding: 8px;
    
}

#header-content input::placeholder {
    font-size: 10px;
    text-transform: uppercase;
}

header .container #header-content button {
    cursor: pointer;
    background-color: #f0c30f;
    text-transform: uppercase;
    padding: 0 18px;
    font-weight: 600;
    color: #fff;
    transition: background-color 200ms ease-in;
}

header .container #header-content button:hover {
    background-color: #d9b10e;
}

#team {
    padding: 48px 24px;
}

#team #head-line {
    text-align: center;
}

#main-section-text {
    font-size: 38px;
    font-family: 'Agbalumo', sans-serif;
    font-weight: 600;
    text-transform: capitalize;

}

#head-line p {
    margin: 16px auto;
    max-width: 60%;
    color: #28282a;
    font-size: 16px;
    font-weight: 300;
}


.team-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 36px;

}

.team-cards .team-card {
    max-width: 500px;
    background-color: #f0c30f;
    border-radius: 50px;
    padding: 24px;
    gap: 16px;
    display: flex;
    align-content: flex-start;
    transition: all 200ms linear;
}

.team-cards .team-card:hover {
    transform: translateY(-5px);
    background-color: #d9b10e;
}


.team-cards .team-card img {
    width: 150px;
    height: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.team-cards .team-card .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.team-cards .team-card .card-content h3 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;

}

.team-cards .team-card .card-content h4 {
    font-size: 24px;
}

.team-cards .team-card .card-content .card-links {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.team-cards .team-card .card-content .card-links a {
    font-size: 25px;
    color: #fff;
    background-color: #ca49b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: all 200ms linear;
}

.team-cards .team-card .card-content .card-links a:hover {
    background-color: #fff;
    color: #ca49b3;
}

#contact {
    padding: 48px 24px;
}

#contact-content {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

}

#contact-info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    padding: 64px;
    background: linear-gradient(to top, #F1C50F, #ca49b3);

}

#contact-info,
#contact-form {
    max-width: 50%;
    flex-grow: 1;
    min-width: 320px;
}

#contact-info .details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #fff;
}

#contact-info .details h3 {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 24px;
}

#contact-form {
    padding: 64px;
    text-align: center;
}

#contact-form h2 {
    font-size: 36px;
    margin-bottom: 48px;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
}

#contact-form form>* {
    display: inline-block;
    border-bottom: 2px solid #000;
    padding: 12px;
    font-family: inherit;
}

#contact-form form>*::placeholder {
    font-size: 15px;
    text-transform: capitalize;
}

#contact-form form>*:last-child {
    border: 0;
    background-color: #ca49b3;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 16px;
    cursor: pointer;
    transition: all 200ms linear;
}

#contact-form form>*:last-child:hover {
    background-color: #ba36a2;
}