@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

/* 
    Container attributes
*/
.container {

    background: linear-gradient(180deg, #000, #05123f, #061e50);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    overflow: hidden;
    position: fixed;
    position: relative;

}

/* 
    Start header:
*/
nav {

    display: flex;
    height: 100px;
    width: 100%;
    background: transparent;
    justify-content: flex-end;
    align-items: center;




}

.moon-icon {
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    left: 50px;
    opacity: 0;
    animation: logo 1s linear forwards;
    animation-delay: 2.5s;
    cursor: pointer;


}



ul {

    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    font-size: 25px;
    padding: 0 10px;

}

nav .links #home {
    opacity: 0;
    animation: word-animation 1s linear forwards;
    animation-delay: 3s;
    transition: 0.3s;

}

nav .links #about-us {
    opacity: 0;
    animation: word-animation 1s linear forwards;
    animation-delay: 3.5s;

}

nav .links #projects {
    opacity: 0;
    animation: word-animation 1s linear forwards;
    animation-delay: 4s;

}

nav .links #contact-us {
    opacity: 0;
    animation: word-animation 1s linear forwards;
    animation-delay: 4.5s;

}

/* 
Text-Attributes.
*/

.pharse-2 {

    height: fit-content;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    height: fit-content;



}

.pharse-2::before {

    content: "";
    animation: text-writing 5s linear forwards, blink-caret 1s linear infinite;
    border-right: 1px solid transparent;
    animation-delay: 6s;

}

.pharse-1 {

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: text-typing 3s linear forwards;
    width: 0;
    overflow: hidden;
    text-wrap: nowrap;
    border-right: 1px solid transparent;
    animation-delay: 5s;

}


/* 
Moon contaniner,
moon
 */
.co-moon {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);



}


.moon {


    width: 900px;
    height: 880px;
    border-radius: 50%;
    background-image: url(../Images/moon-png-44660.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 50px 5px rgb(255, 255, 255, 0.7),
        0 0 50px 25px rgb(255, 255, 255, 0.5),
        0 0 50px 40px rgb(255, 255, 255, 0.2),
        0 0 200px 50px rgb(255, 255, 255, 1);
    position: relative;
    top: 120%;
    animation: rotate 100s linear infinite, up 2s linear forwards;
}


/* 
    Moon animation
*/
@keyframes rotate {

    100% {
        transform: rotate(360deg);
    }

}

/* 
    Moon moving up
*/
@keyframes up {

    100% {

        top: 30%;

    }

}

@keyframes word-animation {


    100% {
        opacity: 100%;
    }

}

@keyframes logo {
    100% {

        opacity: 100%;

    }
}

@keyframes text-writing {


    0% {
        content: "";
    }

    2% {

        content: "M";

    }

    4% {

        content: "Mo";

    }

    6% {
        content: "Moo";
    }

    8% {
        content: "Moon";
    }

    10% {

        content: "Moon ";

    }

    12% {

        content: "Moon L";

    }

    14% {

        content: "Moon Li";

    }

    16% {

        content: "Moon Lig";

    }

    18% {

        content: "Moon Ligh";

    }

    20% {

        content: "Moon Light";

    }


    60% {

        content: "Moon Light";

    }

    62% {

        content: "Moon Ligh";

    }

    64% {

        content: "Moon Lig";

    }

    66% {

        content: "Moon Li";

    }

    68% {

        content: "Moon L";

    }

    70% {

        content: "Moon ";

    }

    72% {

        content: "Moon";

    }

    74% {

        content: "Moo";

    }

    76% {

        content: "Mo";

    }

    78% {

        content: "M";

    }

    80% {

        content: "";

    }

    82% {

        content: "S";

    }

    84% {

        content: "Sp";

    }

    86% {

        content: "Spa";

    }

    88% {

        content: "Spac";

    }

    90% {

        content: "Space";

    }

    92% {

        content: "Space ";

    }

    94% {

        content: "Space S";

    }

    96% {

        content: "Space Si";

    }

    98% {

        content: "Space Sit";

    }

    100% {

        content: "Space Site";

    }


}

@keyframes text-typing {
    100% {

        width: 430px;

    }
}

@keyframes blink-caret {

    0%,
    50%,
    75% {
        border-color: transparent;
    }

    100% {
        border-color: #fff;
    }
}